@import "tailwindcss";

@theme {
  /* Colors */
  --color-on-secondary-fixed: #0a2000;
  --color-on-tertiary: #ffffff;
  --color-surface-container-lowest: #ffffff;
  --color-on-primary-container: #fffbff;
  --color-on-tertiary-fixed: #001d36;
  --color-primary: #984300;
  --color-surface-bright: #fef8f6;
  --color-inverse-primary: #ffb68e;
  --color-on-secondary: #ffffff;
  --color-tertiary-container: #0078c9;
  --color-earth-black: #1D1B1A;
  --color-surface-container-low: #f9f2f0;
  --color-inverse-on-surface: #f6efed;
  --color-on-surface-variant: #574238;
  --color-on-primary-fixed: #331200;
  --color-on-tertiary-fixed-variant: #00497d;
  --color-surface-variant: #e7e1df;
  --color-error-container: #ffdad6;
  --color-surface-container: #f3edea;
  --color-outline: #8a7266;
  --color-hearth-orange: #C65C0D;
  --color-on-secondary-container: #406e20;
  --color-on-error-container: #93000a;
  --color-tertiary: #005fa0;
  --color-outline-variant: #dec1b3;
  --color-secondary: #3c691c;
  --color-surface-dim: #dfd9d7;
  --color-primary-fixed: #ffdbca;
  --color-error: #ba1a1a;
  --color-on-primary-fixed-variant: #773300;
  --color-inverse-surface: #32302f;
  --color-surface: #fef8f6;
  --color-sprout-green: #B9EF91;
  --color-on-error: #ffffff;
  --color-on-primary: #ffffff;
  --color-surface-container-highest: #e7e1df;
  --color-on-tertiary-container: #fdfcff;
  --color-primary-fixed-dim: #ffb68e;
  --color-background: #fef8f6;
  --color-secondary-fixed-dim: #a1d57a;
  --color-on-secondary-fixed-variant: #255103;
  --color-on-background: #1d1b1a;
  --color-surface-tint: #9c4500;
  --color-secondary-fixed: #bcf294;
  --color-secondary-container: #b9ef91;
  --color-tertiary-fixed: #d1e4ff;
  --color-on-surface: #1d1b1a;
  --color-tertiary-fixed-dim: #9fcaff;
  --color-cream-shell: #FCF9F4;
  --color-primary-container: #be5604;
  --color-surface-container-high: #ede7e5;

  /* Fonts */
  --font-display-lg: "Literata", serif;
  --font-body-lg: "Plus Jakarta Sans", sans-serif;
  --font-label-lg: "Plus Jakarta Sans", sans-serif;
  --font-headline-lg: "Literata", serif;
  --font-headline-md: "Literata", serif;
  --font-label-sm: "Plus Jakarta Sans", sans-serif;
  --font-headline-lg-mobile: "Literata", serif;
  --font-body-md: "Plus Jakarta Sans", sans-serif;

  /* Spacing */
  --spacing-container-max: 1280px;
  --spacing-base: 8px;
  --spacing-gutter: 24px;
  --spacing-margin-desktop: 40px;
  --spacing-margin-mobile: 16px;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-on-background);
  }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.blob-shape {
    border-radius: 41% 59% 47% 53% / 41% 44% 56% 59%;
}
